<html>
<head>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <script type="text/javascript">
	//https://www.youtube.com/watch?v=H5LneQjrnF4
 	window.onload = function() {
    	console.log("LOADED");
    	//Configuration variables
    	var updateInterval = 10 //in ms
    	var numberElements = 1000;
    	//Globals
    	var updateCount = 0;
    	// Chart Objects
    	var xAccelChart = $("#xAccelChart");
      var yAccelChart = $("#yAccelChart");
    	//chart instances & configuration
    	var commonOptions = {
      scales: {
          	xAxes: [{
            type: 'time',
            time: {
              unit : 'second'
            }
            }]
        },
        legend: {display: false},
        tooltips:{
          enabled: false
        }
    	};
    	var xAccelChartInstance = new Chart(xAccelChart, {
        type: 'line',
        data: {
          datasets: [{
              label: "X Acceleration",
              data: 0,
              fill: false,
              borderColor: '#343e9a',
              borderWidth: 1
          }]
        },
        options: Object.assign({}, commonOptions, {
          title:{
            display: true,
            text: "Temperature",
            fontSize: 18
          },
          scales: {
          	xAxes: [{
            type: 'time',
            time: {
              unit : 'second'
            }
            }],
            yAxes: [{
              ticks:{
                max: 100,
                min: 0
              }
            }]
          },
          elements: {
                    point:{
                        radius: 0
                    }
          }
        })
    });
      var yAccelChartInstance = new Chart(yAccelChart, {
          type: 'line',
          data: {
            datasets: [{
                label: "Y Acceleration",
                data: 0,
                fill: false,
                borderColor: '#343e9a',
                borderWidth: 1
            }]
          },
          options: Object.assign({}, commonOptions, {
            title:{
              display: true,
              text: "Acceleration - Y",
              fontSize: 18
            },
            elements: {
              point:{
                radius: 0
              }
            }
          })    });
    function addData(data) {
      if(data){
        xAccelChartInstance.data.labels.push(new Date());
        xAccelChartInstance.data.datasets.forEach((dataset) =>{dataset.data.push(data['xA'])});
        yAccelChartInstance.data.labels.push(new Date());
        yAccelChartInstance.data.datasets.forEach((dataset) =>{dataset.data.push(data['yA'])});
        if(updateCount > numberElements){
          xAccelChartInstance.data.labels.shift();
          xAccelChartInstance.data.datasets[0].data.shift();
          yAccelChartInstance.data.labels.shift();
          yAccelChartInstance.data.datasets[0].data.shift();
        }
        else updateCount++;
        xAccelChartInstance.update();
        yAccelChartInstance.update();
      }
    };
    function updateData(data) {
      console.log("Update Data");
	    var val = Math.floor(Math.random() * 10);
	    addData({'xA':val});
      setTimeout(updateData,updateInterval);
    }	
    function updateChart() {
      $.ajax({
        type:"GET",
        datatype: 'json',
        url: "{% url 'opencare:getdata' %}",
        data: {
          'id': "{{id}}"
        },
        success: function(data){
          console.log("Update Data");
	        var val = Math.floor(Math.random() * 10);
	        addData({'xA':data['temperaturereading'],'yA':5});
        },
        error: function(){
          console.log("error");
          var val = Math.floor(Math.random() * 10);
	        addData({'xA':data['result'],'yA':5});
        }
      });
      setTimeout(updateChart,updateInterval);
    }
    updateChart();
  }
</script>
  <style>
  .container{
    display:flex;
  }
  .label{
    flex:1;
    vertical-align: middle;
    text-align: center;
  }
  .x{
    flex:3;
    text-align: center;
    background-color: rgb(251, 251, 251);
    margin: 10px;
  }
  .y{
    flex:3;
    text-align: center;
    background-color: rgb(251, 251, 251);
    margin: 10px;
  }
  h1{
    text-align: center;
  }
  </style>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>
</head>
<body>
  {% if user.is_authenticated %}
  <div class="w3-top">
    <div class="w3-bar w3-white w3-wide w3-padding w3-card">
      <a class="w3-bar-item w3-button" type="submit" href="/signout"><b>Open</b>Care</a>
      <!-- Float links to the right. Hide them on small screens -->
      <div class="w3-right">
        <a href="/profile" class="w3-bar-item w3-button" type="submit">Profile</a>
        <a href="/yourdata" class="w3-bar-item w3-button" type="submit">Your Data</a>
        <a href="/favorites" class="w3-bar-item w3-button" type="submit">Favorites</a>
        <a href="/search" class="w3-bar-item w3-button"><b>Search</b></a>
      </div>
    </div>
  </div>
  <br><br><br>
  <h3><center><b>Live Readings for {{id}}</b></center></h3>
  <br>
  <div id="orientationContainer" class="container">
  <div id="xAccel" class="x">
      <canvas id="xAccelChart"></canvas>
  </div>
  <div id="yAccel" class="y">
    <canvas id="yAccelChart"></canvas>
  </div><!--yAccel-->
  </div> 
  {% else %}
  {% endif %}
</body>
</html>