<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <style>
      .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
      }
      body{
      margin-top:20px;
      color: #1a202c;
      text-align: left;
      background-color: #fff;    
      }
      .main-body {
      padding: 15px;
      }
      .card {
      box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
      }
      .card {
      position: relative;
      display: flex;
      flex-direction: column;
      min-width: 0;
      word-wrap: break-word;
      background-color: #fff;
      background-clip: border-box;
      border: 0 solid rgba(0,0,0,.125);
      border-radius: .25rem;
      }
      .card-body {
      flex: 1 1 auto;
      min-height: 1px;
      padding: 1rem;
      }
      .gutters-sm {
      margin-right: -8px;
      margin-left: -8px;
      }
      .gutters-sm>.col, .gutters-sm>[class*=col-] {
      padding-right: 8px;
      padding-left: 8px;
      }
      .mb-3, .my-3 {
      margin-bottom: 1rem!important;
      }
      .bg-gray-300 {
      background-color: #fff;
      }
      .h-100 {
      height: 100%!important;
      }
      .shadow-none {
      box-shadow: none!important;
      }
    </style>

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>Authentication</title>
  </head>
  <body>
  {% if user.is_authenticated %}
  <div class="w3-top">
    <div class="w3-bar w3-white w3-wide w3-padding w3-card">
      <a class="w3-bar-item w3-button" type="submit" href="/signout"><b>Open</b>Care</a>
      <!-- Float links to the right. Hide them on small screens -->
      <div class="w3-right">
        <a href="/profile" class="w3-bar-item w3-button" type="submit">Profile</a>
        <a href="#about" class="w3-bar-item w3-button">Your Data</a>
        <a class="w3-bar-item w3-button" type="submit">Favorites</a>
        <a href="#about" class="w3-bar-item w3-button"><b>Search</b></a>
      </div>
    </div>
  </div>
  <br><br>
  <div class="container">
      <div class="main-body">
            <div class="row gutters-sm">
                  <div class="col-md-4 mb-3">
                  <div class="card">
                  <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                        <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle" width="150">
                        <div class="mt-3">
                        <h4>{{user.username}}</h4>
                        </div>
                        </div>
                  </div>
                  </div>
                  <div class="card mt-3">
                  </div>
                  </div>
                  <div class="col-md-8">
                  <div class="card mb-3">
                  <form method="post" action="/profileedit">
                  {% csrf_token %}
                  <div class="card-body">
                        <div class="row">
                        <div class="col-sm-3">
                        <h6 class="mb-0">Full Name</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                        {{user.first_name}} {{user.last_name}}
                        </div>
                        </div>
                        <hr>
                        <div class="row">
                        <div class="col-sm-3">
                        <h6 class="mb-0">Email</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                        {{user.email}}
                        </div>
                        </div>
                        <div class="row">
                        <div class="col-sm-12">
                        </div>
                        </div>
                        <hr>
                        <div class="row">
                        <div class="col-sm-3">
                        <h6 class="mb-0">About Me</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                        <textarea id="aboutme" name="aboutme" rows="4" cols="50">{{aboutme}}</textarea>
                        </div>
                        </div>
                        <hr>
                        <div class="row">
                        <div class="col-sm-3">
                        <h6 class="mb-0">Linked Devices</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                        <p id="demo"></p>
                        <script>
                          var devices = "{{devices}}";
                          const devices1 = devices.split(",");
                          let text = "";
                          for (let i = 0; i < devices1.length - 1; i++) {
                            text = text + devices1[i] + "  ";
                            text = text + "<button name ='remove' type='submit' value='"+i+"''>remove</button>";
                            text = text + "<br>"
                          }
                          document.getElementById("demo").innerHTML = text;
                        </script>
                        <div class="col-sm-9 text-secondary">Add Device</div>
                        <input type="text" id="newdevice" name="newdevice">
                        </div>
                        </div>
                        <br>
                        <input type="submit" value="Save">
                  </div>
                  </form>
                  </div>
                  <div class="row gutters-sm">
                  </div>
                  </div>
            </div>
      </div>
  </div>
  {% else %}
  <!-- Navbar (sit on top) -->
  <div class="w3-top">
    <div class="w3-bar w3-white w3-wide w3-padding w3-card">
      <a href="#home" class="w3-bar-item w3-button"><b>LOAN</b>Hub</a>
      <!-- Float links to the right. Hide them on small screens -->
      <div class="w3-right w3-hide-small">
        <a href="#about" class="w3-bar-item w3-button">About</a>
        <a class="w3-bar-item w3-button" type="submit" href="/signin">Sign In</a>
        <a class="w3-bar-item w3-button" type="submit" href="/signup">Sign Up</a>
      </div>
    </div>
  </div>

  <!-- Header -->
  <header class="w3-display-container w3-content w3-wide" style="max-width:1500px;" id="home">
    {% load static %}
    <img class="w3-image" src="{% static 'media/title1.jpg' %}" alt="Architecture" width="1500" height="800">
    <div class="w3-display-middle w3-margin-top w3-center">
      <h1 class="w3-xxlarge w3-text-white"><span class="w3-padding w3-black w3-opacity-min"><b>LOAN</b> Hub</span></h1>
    </div>
  </header>

  <!-- Page content -->
  <div class="w3-content w3-padding" style="max-width:1564px">

    <!-- About Section -->
    <div class="w3-container w3-padding-32" id="about">
      <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16"><b>About</b></h3>
      <p>LoanHub allows for a completely peer to peer lending. Start your journey as as you own personal bank or borrow funds free of hassle!
      </p>
    </div>

    <div class="w3-container w3-padding-64">
      <div class="w3-col l2 m6 w3-margin-bottom" style="margin: 25px;">
        <img src="{% static '/media/verify.png' %}" style="margin-left: 70px; margin-right: 10px; width:25%">
        <h3><b>Verify your identity</b></h3>
        <p>Complete the verification process tostart your journey.</p>
      </div>
      <div class="w3-col l2 m6 w3-margin-bottom" style="margin: 25px;">
        <img src="{% static '/media/fundacc.png' %}" style="margin-left: 70px; margin-right: 10px; width:25%">
        <h3><b>Fund your account</b></h3>
        <p>Add funds to your LoanHub wallet with a variety of payment options.</p>
      </div>
      <div class="w3-col l2 m6 w3-margin-bottom" style="margin: 25px;">
        <img src="{% static '/media/condition.png' %}" style="margin-left: 70px; margin-right: 10px; width:25%">
        <h3><b>Post conditions</b></h3>
        <p>Set your own interest rates, minimum borrowing amounts, and requirements.</p>
      </div>
      <div class="w3-col l2 m6 w3-margin-bottom" style="margin: 25px;">
        <img src="{% static '/media/acceptorreject.png' %}" style="margin-left: 70px; margin-right: 10px; width:25%">
        <h3><b>Review requests</b></h3>
        <p>View requests loan history, identity, and our very own credit scoring system powered by arificial neural networks.</p>
      </div>
      <div class="w3-col l2 m6 w3-margin-bottom" style="margin: 25px;">
        <img src="{% static '/media/borrow.png' %}" style="margin-left: 70px; margin-right: 10px; width:25%">
        <h3><b>Create requests</b></h3>
        <p>Manually find list of available loan posts or simply provide your desired amount and our AI powered reccomender will automatically find best deals.</p>
      </div>
    </div>

    <!-- Contact Section -->
    <div class="w3-container w3-padding-32" id="contact">
      <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16"><b>Contact</b></h3>
      <p>Contact us if you have any concerns.</p>
      <form action="/action_page.php" target="_blank">
        <input class="w3-input w3-border" type="text" placeholder="Name" required name="Name">
        <input class="w3-input w3-section w3-border" type="text" placeholder="Email" required name="Email">
        <input class="w3-input w3-section w3-border" type="text" placeholder="Subject" required name="Subject">
        <input class="w3-input w3-section w3-border" type="text" placeholder="Comment" required name="Comment">
        <button class="w3-button w3-black w3-section" type="submit">
          <i class="fa fa-paper-plane"></i> SEND MESSAGE
        </button>
      </form>
    </div>
  <!-- Image of location/map -->
  <div class="w3-container">
    <img src="{% static 'media/stripeimage.png' %}" class="w3-image" style="width:10%">
  </div>
  <!-- End page content -->
  </div>
  <!-- Footer -->
  <footer class="w3-center w3-black w3-padding-16">
    <p>Founded by <a title="W3.CSS" target="_blank" class="w3-hover-text-green">Matthew Setiawan</a></p>
  </footer>
  {% endif %}
  </body>
</html>