<html>
<head>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <script type="text/javascript">
 	window.onload = function() {
    	console.log("LOADED");
      //https://www.youtube.com/watch?v=H5LneQjrnF4
    	//Configuration variables
    	var updateInterval = 40 //in ms
    	var numberElements = 250;
    	//Globals
    	var updateCount = 0;
    	// Chart Objects
    	var xAccelChart = $("#xAccelChart");
      var yAccelChart = $("#yAccelChart");
      var zAccelChart = $("#zAccelChart");
      var mAccelChart = $("#mAccelChart");

      var ctx1 = $("#hrperformancechart");
      var ctx2 = $("#tempperformancechart");
      var ctx3 = $("#co2performancechart");

    	//chart instances & configuration
    	var commonOptions = {
      scales: {
          	xAxes: [{
            type: 'time',
            time: {
              unit : 'second'
            }
            }]
        },
        legend: {display: false},
        tooltips:{
          enabled: false
        }
    	};

      var chartgaugehr = new Chart(ctx1, 
      {
        type: 'doughnut',
        title: {
          display: true,
          text:"Performance",
          fontsize: 100
        },
        data: {
          datasets: [{
            data: [50,50],
            backgroundColor: [
              'rgb(255, 255, 255)',
              'rgb(0, 255, 128)'
            ]
          }]
        }
      });

      var chartgaugetemp = new Chart(ctx2, 
      {
        type: 'doughnut',
        title: {
          display: true,
          text:"Performance",
          fontsize: 100
        },
        data: {
          datasets: [{
            data: [50,50],
            backgroundColor: [
              'rgb(255, 255, 255)',
              'rgb(0, 255, 128)'
            ]
          }]
        }
      });

      var chartgaugeco2 = new Chart(ctx3, 
      {
        type: 'doughnut',
        title: {
          display: true,
          text:"Performance",
          fontsize: 100
        },
        data: {
          datasets: [{
            data: [50,50],
            backgroundColor: [
              'rgb(255, 255, 255)',
              'rgb(0, 255, 128)'
            ]
          }]
        }
      });

    	var xAccelChartInstance = new Chart(xAccelChart, {
        type: 'line',
        data: {
          datasets: [{
              label: "Accelerometer",
              data: 0,
              fill: false,
              borderColor: '#343e9a',
              borderWidth: 1
          }]
        },
        options: Object.assign({}, commonOptions, {
          title:{
            display: true,
            text: "Temperature (celsius)",
            fontSize: 18,
            fontColor: "green"
          },
          scales: {
          	xAxes: [{
            type: 'time',
            time: {
              unit : 'second'
            },
            gridLines: {
              color: "rgba(0, 0, 0, 0)",
            }   
            }],
            yAxes: [{
              ticks:{
                max: 40,
                min: 0
              }
            }]
          },
          elements: {
                    point:{
                        radius: 0
                    }
          }
        })
      });
      var yAccelChartInstance = new Chart(yAccelChart, {
          type: 'line',
          data: {
            datasets: [{
                label: "Y Acceleration",
                data: 0,
                fill: false,
                borderColor: '#343e9a',
                borderWidth: 1
            }]
          },
          options: Object.assign({}, commonOptions, {
            title:{
              display: true,
              text: "Acceleration Magnitude (m/s²)",
              fontSize: 18
            },
            scales: {
              xAxes: [{
              type: 'time',
              time: {
                unit : 'second'
              },
              gridLines: {
                color: "rgba(0, 0, 0, 0)",
              }  
            }],
              yAxes: [{
                ticks:{
                  max: 2,
                  min: -2
                }
            }]
          },
            elements: {
              point:{
                radius: 0
              }
            }
          })    
      });
      var zAccelChartInstance = new Chart(zAccelChart, {
          type: 'line',
          data: {
            datasets: [{
                label: "Heart Rate Reading",
                data: 0,
                fill: false,
                borderColor: '#343e9a',
                borderWidth: 1
            }]
          },
          options: Object.assign({}, commonOptions, {
            title:{
              display: true,
              text: "Heart Rate: 0 BPM",
              fontSize: 18
            },
            scales: {
              xAxes: [{
              type: 'time',
              time: {
                unit : 'second'
              },
                gridLines: {
                  display:false
                }  
            }],
              yAxes: [{
                ticks:{
                },
                gridLines: {
                  display:true
                }  
            }]
          },
            elements: {
              point:{
                radius: 0
              }
            }
          })    
      });
      var mAccelChartInstance = new Chart(mAccelChart, {
        type: 'line',
        data: {
          datasets: [{
              label: "CO2 Readings",
              data: 0,
              fill: false,
              borderColor: '#343e9a',
              borderWidth: 1
          }]
        },
        options: Object.assign({}, commonOptions, {
          title:{
            display: true,
            text: "CO2 Levels (ppm)",
            fontSize: 18
          },
          scales: {
          	xAxes: [{
            type: 'time',
            time: {
              unit : 'second'
            },
            gridLines: {
              display: false
            }   
            }],
            yAxes: [{
              ticks:{
                max: 35,
                min: 20
              }
            }]
          },
          elements: {
                    point:{
                        radius: 0
                    }
          }
        })
      });
      function addData(data) {
        if(data){

          xAccelChartInstance.data.labels.push(new Date());
          xAccelChartInstance.data.datasets.forEach((dataset) =>{dataset.data.push(data['xA'])});
          xAccelChartInstance.options.title.fontColor = data['xAcolor'];//Dynamically Changing Color of title (Test)
          
          yAccelChartInstance.data.labels.push(new Date());
          yAccelChartInstance.data.datasets.forEach((dataset) =>{dataset.data.push(data['yA'])});

          zAccelChartInstance.data.labels.push(new Date());
          zAccelChartInstance.data.datasets.forEach((dataset) =>{dataset.data.push(data['zA'])});
          zAccelChartInstance.options.title.text = ["Heart Rate: ",data["hr"]+" BPM"];

          mAccelChartInstance.data.labels.push(new Date());
          mAccelChartInstance.data.datasets.forEach((dataset) =>{dataset.data.push(data['mA'])});

          if(updateCount > numberElements){

            xAccelChartInstance.data.labels.shift();
            xAccelChartInstance.data.datasets[0].data.shift();

            yAccelChartInstance.data.labels.shift();
            yAccelChartInstance.data.datasets[0].data.shift();

            zAccelChartInstance.data.labels.shift();
            zAccelChartInstance.data.datasets[0].data.shift();

            mAccelChartInstance.data.labels.shift();
            mAccelChartInstance.data.datasets[0].data.shift();
          }
          else updateCount++;

          xAccelChartInstance.update();
          yAccelChartInstance.update();
          zAccelChartInstance.update();
          mAccelChartInstance.update();
        }
      };

      //Gaussian Filtering//
      var filter = [0,0.0024020332548697417, 0.005842766831189515, 0.01271754116880599, 0.024770387852997698, 0.043172531888630586, 0.06733289518468631, 0.09397062513676754, 0.11735510892143318, 0.13114657203397997, 0.13114657203397997, 0.11735510892143318, 0.09397062513676754, 0.06733289518468631, 0.043172531888630586, 0.024770387852997698, 0.01271754116880599, 0.005842766831189515, 0.0024020332548697417, 0.0008836586514767013,0];
      var prevval1 = new Array(21);
      var prevval2 = new Array(21);
      
      function pusharr(data1,data2){
        prevval1.shift();
        prevval1[20]=data1;
        prevval2.shift();
        prevval2[20]=data2;
      }
      function filt(){
        //1d gaussian k = 3, sigma = 3, kernal size = 19
        totsum1 = 0;
        totsum2 = 0;
        for(let i = 0; i < prevval1.length; i++){
          totsum1 = totsum1 + parseFloat(prevval1[i])*filter[i];
          totsum2 = totsum2 + parseFloat(prevval2[i])*filter[i];
        }
        return [totsum1, totsum2];
      }
      function mean(arr){
        tot = 0;
        for(let i=0; i < arr.length; i++){
          tot = tot + arr[i];
        }
        return tot/arr.length;
      }
      //--------------------//

      //Heart Rate Calculation//
      var prevrawval = new Array(21);
      var prevfiltval = new Array(250);
      var prevhr = new Array(10);

      function pushhr(data){
        prevrawval.shift();
        prevrawval[20]=data;
      }

      function filthr(){
        totsum = 0;
        for(let i = 0; i < prevrawval.length; i++){
          totsum = totsum + parseFloat(prevrawval[i])*filter[i];
        }

        prevfiltval.shift();
        prevfiltval[249]=totsum;

        return totsum;
      }

      function calchr(){
        peak = 0;
        for(let i=1; i < prevfiltval.length - 1; i++){
          if(prevfiltval[i]>prevfiltval[i-1] && prevfiltval[i]>prevfiltval[i+1]){
            peak = peak + 1;
          }
        }
        prevhr.shift();
        prevhr[9] = peak*6;
        console.log(mean(prevhr));
        return mean(prevhr);
      }
      //--------------------//

      function updateData(data) {
        console.log("Update Data");
        var val = Math.floor(Math.random() * 10);
        addData({'xA':val});
        setTimeout(updateData,updateInterval);
      }	
      function updateChart() {
        $.ajax({
          type:"GET",
          datatype: 'json',
          url: "{% url 'opencare:getdata' %}",
          data: {
            'id': "{{id}}"
          },
          success: function(data){
            console.log("Update Data");
            pusharr(data['temperaturereading'],data['accelerometerreading']-1);
            pushhr(data['heartratereading']);
            const val = filt();
            const hr = filthr();

            //Color changer
            var color;
            if(val[0]>25){
              color = "red";
            }
            else{
              color = "green";
            }

            //Calc HR
            var bpm;
            if(hr < 10000){
              bpm = "NaN"
            }
            else{
              bpm = calchr();
            }

            //Add Data to Charts
            addData({'xA':val[0],'yA':val[1],'xAcolor':"gray",'zA':hr,'mA':data['co2reading'],'hr':bpm});

          },
          error: function(){
            console.log("error");
          }
        });
        setTimeout(updateChart,updateInterval);
      }
      updateChart();
  }
</script>
  <style>
  .container{
    display:flex;
  }
  .container1{
    display:flex;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  .label{
    flex:1;
    vertical-align: middle;
    text-align: center;
  }
  .x{
    flex:3;
    text-align: center;
    background-color: rgb(251, 251, 251);
    margin: 10px;
    border-radius: 25px;
  }
  .y{
    flex:3;
    text-align: center;
    background-color: rgb(251, 251, 251);
    margin: 10px;
    border-radius: 25px;
  }
  .z{
    flex:3;
    text-align: center;
    background-color: rgb(251, 251, 251);
    margin: 10px;
    border-radius: 25px;
  }
  .m{
    flex:3;
    text-align: center;
    background-color: rgb(251, 251, 251);
    margin: 10px;
    border-radius: 25px;
  }
  .text{
    flex:3;
    text-align: center;
    background-color: rgb(256, 256, 256);
    margin: 10px;
    border-radius: 25px;
    margin: 0 auto;
    width: 500;
  }
  h1{
    text-align: center;
  }
  </style>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>
</head>
<body>
  {% if user.is_authenticated %}
  <div class="w3-top">
    <div class="w3-bar w3-white w3-wide w3-padding w3-card">
      <a class="w3-bar-item w3-button" type="submit" href="/signout"><b>Open</b>Care</a>
      <!-- Float links to the right. Hide them on small screens -->
      <div class="w3-right">
        <a href="/profile" class="w3-bar-item w3-button" type="submit">Profile</a>
        <a href="/yourdata" class="w3-bar-item w3-button" type="submit">Your Data</a>
        <a href="/favorites" class="w3-bar-item w3-button" type="submit">News</a>
        <a href="/search" class="w3-bar-item w3-button"><b>Search</b></a>
      </div>
    </div>
  </div>
  <br><br><br>
  <h4><center><b>Live Readings for {{id}}</b></center></h4>
  <div id="orientationContainer" class="container">
  <div id="xAccel" class="x">
      <canvas id="xAccelChart"></canvas>
  </div>
  <div id="yAccel" class="y">
    <canvas id="yAccelChart"></canvas>
  </div>
  </div>
  <br>
  <div id="orientationContainer" class="container">
  <div id="zAccel" class="y">
      <canvas id="zAccelChart"></canvas>
  </div>
  <div id="mAccel" class="m">
      <canvas id="mAccelChart"></canvas>
  </div>
  </div>
  <br>
  <center><h4><b>Overall Health Performance</b></h4></center>
  <div id="orientationContainer" class="container1">
  <div id="hrperf" class="text">
    <canvas id="hrperformancechart"></canvas>
    <h6><b>Heart Rate</b></h6>
  </div>
  <div id="tempperf" class="text">
    <canvas id="tempperformancechart"></canvas>
    <h6><b>Temperature</b></h6>
  </div>
  <div id="co2perf" class="text">
    <canvas id="co2performancechart"></canvas>
    <h6><b>CO2 Levels</b></h6>
  </div>
  </div>
  <br>
  {% else %}
  {% endif %}
</body>
</html>